version: "3.8"

services:
    backend:
        build: .
        container_name: -backend
        ports:
            - "8000:8000"
        env_file:
            - .env.local
        volumes:
            - .:/app
        command: uv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload
